header {
background-color: #383D58;
color: white;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho {
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 1 16px;
    padding: 0 24px;
    justify-content: space-around;
    font-size: 24px;
}
